header {
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 1px 5px 0px black;
  -moz-box-shadow: 0px 1px 5px 0px black;
  box-shadow: 0px 1px 5px 0px black;
  padding: 1px 0px; }
  header > div:first-child {
    display: none; }

footer {
  padding: 20px 0px;
  background-color: #453F45;
  color: white;
  text-align: left; }
  footer > * {
    margin-left: 20px; }
  footer > p {
    font-family: "Shrikhand"; }
  footer ul {
    padding: 0px; }
    footer ul > li {
      list-style: none;
      margin: 8px 0px; }
  footer a {
    text-decoration: none;
    color: white; }
  footer i {
    margin-right: 8px; }

p, a, span {
  font-family: "Roboto"; }

h1, h2, h3 {
  font-family: "Shrikhand"; }

body {
  margin: 0px;
  padding: 0px; }

i.fa-heart {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  color: white;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: -webkit-text-stroke, color;
  -moz-transition-property: -webkit-text-stroke, color;
  transition-property: -webkit-text-stroke, color; }
  i.fa-heart:hover {
    animation: fadeIcon 600ms;
    animation-fill-mode: forwards;
    -webkit-text-stroke: 0px;
    background: -webkit-linear-gradient(#9356DC, #FF79DA); }

@keyframes fadeIcon {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes turnAnim {
  to {
    transform: rotate(1turn); } }
@keyframes sphereAnim {
  50% {
    opacity: 0.3;
    transform: scale(0.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes mainAnim {
  90% {
    opacity: 0.9; }
  99% {
    z-index: 5; }
  100% {
    opacity: 0;
    z-index: -10; } }
div#boxMainAnim {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.9;
  background-color: black;
  -webkit-animation: mainAnim 2000ms;
  -moz-animation: mainAnim 2000ms;
  animation: mainAnim 2000ms;
  animation-fill-mode: forwards; }
  div#boxMainAnim > div#boxTurnAnim {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    -webkit-animation: turnAnim 2000ms 1;
    -moz-animation: turnAnim 2000ms 1;
    animation: turnAnim 2000ms 1; }
    div#boxMainAnim > div#boxTurnAnim > div {
      width: 45px;
      height: 45px;
      background: linear-gradient(45deg, #9356DC, #FF79DA);
      border-radius: 50%;
      -webkit-animation: sphereAnim 2000ms 1;
      -moz-animation: sphereAnim 2000ms 1;
      animation: sphereAnim 2000ms 1; }
    div#boxMainAnim > div#boxTurnAnim > div:last-child {
      position: absolute;
      bottom: 0;
      right: 0; }

div#conteneurLocalisation {
  width: 100%;
  background-color: #F2F2F2;
  text-align: center;
  padding: 10px 0px; }
  div#conteneurLocalisation i {
    margin-right: 10px; }

div#conteneurReservation {
  background-color: #F8F8F8;
  text-align: center;
  padding: 20px 0px; }
  div#conteneurReservation > p:first-child {
    font-weight: bolder; }
  div#conteneurReservation > button {
    display: inline-block;
    color: white;
    background: linear-gradient(-45deg, #9356DC, #FF79DA);
    padding: 15px 15px;
    margin: 25px auto !important;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 50%;
    outline: none;
    animation-name: shakeBtn;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); }
    div#conteneurReservation > button:hover {
      opacity: 0.7; }

div#conteneurFonctionnement {
  padding: 20px 0px; }
  div#conteneurFonctionnement > h2 {
    margin: 0px 0px 20px 20px; }
  div#conteneurFonctionnement > div#listeActions {
    display: flex;
    flex-direction: column;
    margin: 0px 25px; }
    div#conteneurFonctionnement > div#listeActions i {
      -webkit-transition-property: color;
      -moz-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    div#conteneurFonctionnement > div#listeActions > div > button {
      position: relative;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      border: none;
      -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      width: 100%;
      font-weight: bolder;
      margin: 0px auto;
      margin-bottom: 20px;
      padding: 25px 0px;
      text-align: left;
      background-color: #F8F8F8 !important;
      -webkit-transition-property: background-color;
      -moz-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      div#conteneurFonctionnement > div#listeActions > div > button:hover > i {
        color: #9356DC; }
      div#conteneurFonctionnement > div#listeActions > div > button:hover {
        background-color: rgba(147, 86, 220, 0.2) !important; }
      div#conteneurFonctionnement > div#listeActions > div > button:focus {
        outline: none; }
      div#conteneurFonctionnement > div#listeActions > div > button > i {
        margin: 0px 35px; }
      div#conteneurFonctionnement > div#listeActions > div > button > span.numAction {
        position: absolute;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        left: 0px;
        color: white;
        width: 15px;
        height: 15px;
        padding: 5px;
        background-color: #9356DC;
        margin-left: -12px;
        margin-top: -4px; }

div#conteneurRestaurants {
  background-color: #F8F8F8;
  padding: 20px 0px; }
  div#conteneurRestaurants a {
    text-decoration: none;
    color: black; }
  div#conteneurRestaurants > h2 {
    margin: 0px 0px 20px 15px; }
  div#conteneurRestaurants > div#listeRestaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    div#conteneurRestaurants > div#listeRestaurants > a {
      display: block; }

div.restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  margin: 0px 15px 25px 15px; }
  div.restaurant img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px; }
  div.restaurant > div.banniereNouveau {
    display: inline-block;
    padding: 7px 15px;
    position: absolute;
    background-color: #99E2D0;
    border: none;
    color: green;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    top: 20px;
    right: 20px; }
  div.restaurant > div.infoRestaurant {
    display: flex;
    flex-direction: row;
    align-items: center; }
    div.restaurant > div.infoRestaurant > div:first-child {
      flex: 6; }
      div.restaurant > div.infoRestaurant > div:first-child * {
        margin-left: 20px; }
      div.restaurant > div.infoRestaurant > div:first-child > p:last-child {
        margin-top: -15px; }
    div.restaurant > div.infoRestaurant > div:last-child {
      flex: 1; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  h2 {
    font-size: 1.7em; }

  h3 {
    font-size: 1.5em; }

  span {
    font-size: 1.1em; }

  p {
    font-size: 1.1em; }

  button {
    font-size: 1.1em; }
    button > span {
      width: 20px !important;
      height: auto !important;
      margin-left: -15px !important; }

  button.btn-primaire {
    width: auto !important; }

  div#conteneurRestaurants > h2 {
    display: inline; }
  div#conteneurRestaurants > div#listeRestaurants {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0px 15px; }
    div#conteneurRestaurants > div#listeRestaurants > a {
      display: block;
      width: 48%;
      height: 45%;
      margin-top: 10px; }

  div#listeActions > div {
    width: 50%; }
    div#listeActions > div:nth-child(2) {
      align-self: center; }
    div#listeActions > div:last-child {
      align-self: flex-end; }
    div#listeActions > div > button {
      display: block;
      margin-left: 30px;
      width: 50%; } }
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 1.9em; }

  h3 {
    font-size: 1.7em; }

  p {
    font-size: 1.3em; }

  button {
    font-size: 1.3em; }
    button > span {
      width: 25px !important;
      height: auto !important;
      margin-left: -17px !important; }

  button.btn-primaire {
    width: auto !important; }

  div#conteneurFonctionnement > div#listeActions {
    flex-direction: row;
    justify-content: space-around; }
    div#conteneurFonctionnement > div#listeActions > div {
      width: 30%; }

  div#conteneurRestaurants > div#listeRestaurants {
    flex-direction: row; }
    div#conteneurRestaurants > div#listeRestaurants > * {
      width: 23%; } }

/*# sourceMappingURL=main.css.map */
