header {
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 1px 5px 0px black;
  -moz-box-shadow: 0px 1px 5px 0px black;
  box-shadow: 0px 1px 5px 0px black;
  padding: 1px 0px; }
  header > div:first-child {
    display: none; }

footer {
  padding: 20px 0px;
  background-color: #453F45;
  color: white;
  text-align: left; }
  footer > * {
    margin-left: 20px; }
  footer > p {
    font-family: "Shrikhand"; }
  footer ul {
    padding: 0px; }
    footer ul > li {
      list-style: none;
      margin: 8px 0px; }
  footer a {
    text-decoration: none;
    color: white; }
  footer i {
    margin-right: 8px; }

@keyframes slide {
  from {
    margin-top: 40px;
    opacity: 0; } }
@keyframes shakeBtn {
  33% {
    transform: rotate(3deg) scale(1.2); }
  66% {
    transform: rotate(-6deg) scale(1.2); }
  100% {
    transform: scale(1); } }
p, a, span {
  font-family: "Roboto"; }

h1, h2, h3 {
  font-family: "Shrikhand"; }

body {
  margin: 0px;
  padding: 0px; }

button:not(.btn-primary) {
  width: 100%;
  height: auto;
  margin: 10px 0px 0px 0px;
  background-color: transparent;
  border: none;
  outline: none; }
  button:not(.btn-primary) > div > div:first-child {
    text-align: left; }

header > div:first-child {
  display: inline-block;
  float: left;
  margin: 25px 50px 25px 25px; }
  header > div:first-child > a {
    color: black; }
header > h1 {
  text-align: left;
  padding: 0px; }

hr {
  width: 10%;
  border: none;
  background-color: #99E2D0;
  height: 3px;
  margin: 0px; }

main img {
  object-fit: cover;
  width: 100%;
  height: 280px; }
main > div {
  padding: 25px 0px; }
main > div:first-child {
  padding-top: 0px; }

div#conteneurMenu {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  -webkit-border-radius: 30px 30px 0px 0px;
  -moz-border-radius: 30px 30px 0px 0px;
  border-radius: 30px 30px 0px 0px;
  margin-top: -60px;
  position: relative;
  z-index: 5; }
  div#conteneurMenu > * {
    margin: 0px 25px; }
  div#conteneurMenu > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    div#conteneurMenu > div:first-child > i {
      margin-top: 20px; }

button:not(.btn-primaire) {
  padding: 0px; }

div.detailChoix {
  display: flex;
  flex-direction: row;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: row;
  animation-name: slide;
  animation-duration: 2s;
  margin: 10px 0px 10px 0px;
  -webkit-transition-property: flex;
  -moz-transition-property: flex;
  transition-property: flex;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  div.detailChoix > * {
    margin: 0px 0px 0px 15px; }
  div.detailChoix:hover > div.choixAccepte {
    display: inline-block;
    width: 75px; }
  div.detailChoix span.prix {
    font-weight: bolder; }
  div.detailChoix > div:first-child {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    flex: 7; }
    div.detailChoix > div:first-child > div:first-child {
      font-weight: bolder; }
    div.detailChoix > div:first-child > div:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
  div.detailChoix > div.choixAccepte {
    display: none;
    background-color: #99E2D0;
    border-radius: 0px 20px 20px 0px;
    padding: 5px;
    width: 0px; }
    div.detailChoix > div.choixAccepte > i {
      color: white;
      margin-top: 22%;
      margin-left: 20px; }

button.btn-primaire {
  display: inline-block;
  color: white;
  background: linear-gradient(-45deg, #9356DC, #FF79DA);
  padding: 15px 15px;
  margin: 25px auto !important;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 50%;
  outline: none;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
  animation-name: shakeBtn;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  button.btn-primaire:hover {
    opacity: 0.7; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  button.btn-primaire {
    width: auto !important; }

  header > h1 {
    text-align: center;
    margin-right: 100px; } }
@media screen and (min-width: 1200px) {
  header > h1 {
    text-align: center;
    margin-right: 100px; }

  div#listeMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    div#listeMenu > * {
      width: 30%; }

  button.btn-primaire {
    width: auto; } }

/*# sourceMappingURL=MenuRestaurant.css.map */
