@import "Partials/varMix";
@import "Partials/entete";
@import "Partials/piedDePage";

////////////////////////////////
p, a, span{
	font-family: $police-texte;
}

h1, h2, h3{
	font-family: $police-logo-titre;
}

body{
	margin: 0px;
	padding: 0px;
}
///////////////////////////////

// VERSION MOBILE /////////////
@media all and (max-width: 480px){

	// LOCALISATION
	div#conteneurLocalisation{
		width: 100%;
		background-color: #F2F2F2;
		text-align: center;
		padding: 10px 0px;

		i{
			margin-right: 10px;
		}
	}

	//ESPACE EXPLORER RESTAURANTS
	div#conteneurReservation{
		background-color: #F8F8F8;
		text-align: center;
		padding: 20px 0px;

		> p:first-child{
			font-weight: bolder;
		}

		> button{
			@include btnPrincipal;
		}
	}

	//ESPACE FONCTIONNEMENT DE LA DEMARCHE
	div#conteneurFonctionnement{
		padding: 20px 0px;

		> h2{
			margin: 0px 0px 20px 20px;
		}

		> div#listeActions{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		button{
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			border: none;
			@include ombrePrincipale;
			width: 85%;
			font-weight: bolder;
			margin: 0px auto;
			margin-bottom: 20px;
			padding: 25px 0px;
			text-align: left;
			background-color: #F8F8F8 !important;
			-webkit-transition-property: background-color;
			-moz-transition-property: background-color;
			transition-property: background-color;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			transition-duration: 0.3s;

			&:focus{
				outline: none;
			}

			> i{
				margin: 0px 35px;
			}

			> span.numAction{
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				color: white;
				width: 15px;
				height: 15px;
				padding: 7px;
				background-color: $couleur-primaire;
				margin-left: -12px;
			}
		}
	}

	// LES DIFFERENTS RESTAURANTS
	div#conteneurRestaurants{
		background-color: #F8F8F8;
		padding: 20px 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		> h2{
			margin: 0px 0px 20px 15px;
		}

		> a{
			color: black;
			text-decoration: none;
		}



		> a > div.restaurant{
			display: flex;
			flex-direction: column;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			@include ombrePrincipale;
			margin: 0px 15px 25px 15px;


			> div.banniereNouveau{
				@include banniereNouveau;
			}

			img.photoRestaurant{
				object-fit: cover;
				width: 100%;
				height: 180px;
				-webkit-border-radius: 20px 20px 0px 0px;
				-moz-border-radius: 20px 20px 0px 0px;
				border-radius: 20px 20px 0px 0px;
			}

		}

		div.infoRestaurant{
			display: flex;
			flex-direction: row;
			align-items: center;

			> div:first-child{
				flex: 6;

				*{
					margin-left: 20px;
				}

				> p:last-child{
					margin-top: -15px;
				}
			}

			> div:last-child{
				flex: 1;

				> i.fas{
					color: $couleur-primaire;
				}
			}
		}
	}
}

// FIN VERSION MOBILE /////////