@import "Partials/varMix";
@import "Partials/entete";
@import "Partials/piedDePage";

////////////////////////////////
p, a, span{
	font-family: $police-texte;
}

h1, h2, h3{
	font-family: $police-logo-titre;
}

body{
	margin: 0px;
	padding: 0px;
}

i.fa-heart{
	-webkit-text-stroke: 2px black;
	-webkit-text-fill-color: white;

	-webkit-transition-duration: 2000ms;
	-moz-transition-duration: 2000ms;
	transition-duration: 2000ms;

	-webkit-transition-property: background;
	-moz-transition-property: background;
	transition-property: background;

	&:hover{
		-webkit-text-stroke-width: 0px;
		background: -webkit-linear-gradient($couleur-primaire, $couleur-secondaire);
 	 	-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
}
// ANIMATION LOADING SPINNER///

@keyframes turnAnim{
	from{

	}

	to{
		transform: rotate(1turn);
	}
}

@keyframes sphereAnim{
	50%{
		opacity: 0.3;
		transform: scale(0.5);
	}

	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes mainAnim{
	0%{

	}

	90%{
		opacity: 0.9;
	}

	99%{
		z-index: 5;
	}

	100%{
		opacity: 0;
		z-index: -10;
	}
}

div#boxMainAnim{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;

	opacity: 0.9;
	background-color: black;

	-webkit-animation: mainAnim 2000ms;
	-moz-animation: mainAnim 2000ms;
	animation: mainAnim 2000ms;
	animation-fill-mode: forwards;

	> div#boxTurnAnim{
		position: absolute;
		width: 200px;
		height: 200px;

		top: 50%;
		left: 50%;
		margin-top: -100px;
		margin-left: -100px;

		-webkit-animation: turnAnim 2000ms 1;
		-moz-animation: turnAnim 2000ms 1;
		animation: turnAnim 2000ms 1;
	

		> div{
			width: 45px;
			height: 45px;
			background: linear-gradient(45deg, $couleur-primaire, $couleur-secondaire);
			border-radius: 50%;

			-webkit-animation: sphereAnim 2000ms 1;
			-moz-animation: sphereAnim 2000ms 1;
			animation: sphereAnim 2000ms 1;
		}

		> div:last-child{
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

///////////////////////////////

// VERSION MOBILE /////////////

// LOCALISATION
div#conteneurLocalisation{
	width: 100%;
	background-color: #F2F2F2;
	text-align: center;
	padding: 10px 0px;

	i{
		margin-right: 10px;
	}
}

//ESPACE EXPLORER RESTAURANTS
div#conteneurReservation{
	background-color: #F8F8F8;
	text-align: center;
	padding: 20px 0px;

	> p:first-child{
		font-weight: bolder;
	}

	> button{
		@include btnPrincipal;
		-webkit-transition-property: opacity;
		-moz-transition-property: opacity;
		transition-property: opacity;
		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		transition-duration: 0.3s;

		&:hover{
			opacity: 0.7;
		}
	}
}

//ESPACE FONCTIONNEMENT DE LA DEMARCHE
div#conteneurFonctionnement{
	padding: 20px 0px;

	> h2{
		margin: 0px 0px 20px 20px;
	}

	> div#listeActions{
		display: flex;
		flex-direction: column;
		margin: 0px 25px;

		> div > button{
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			border: none;
			@include ombrePrincipale;
			width: 100%;
			font-weight: bolder;
			margin: 0px auto;
			margin-bottom: 20px;
			padding: 25px 0px;
			text-align: left;
			background-color: #F8F8F8 !important;
			-webkit-transition-property: background-color;
			-moz-transition-property: background-color;
			transition-property: background-color;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			transition-duration: 0.3s;

			&:focus{
				outline: none;
			}

			> i{
				margin: 0px 35px;
			}

			> span.numAction{
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				color: white;
				width: 15px;
				height: 15px;
				padding: 7px;
				background-color: $couleur-primaire;
				margin-left: -12px;
			}
		}
	}
}

// LES DIFFERENTS RESTAURANTS
div#conteneurRestaurants{
	background-color: #F8F8F8;
	padding: 20px 0px;

	a{
		text-decoration: none;
		color: black;
	}

	> h2{
		margin: 0px 0px 20px 15px;
	}

	> div#listeRestaurants{
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		> a{
			display: block;

			> div.restaurant{
				display: flex;
				flex-direction: column;
				position: relative;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				@include ombrePrincipale;
				margin: 0px 15px 25px 15px;

				img{
					object-fit: cover;
					width: 100%;
					height: 150px;
					-webkit-border-radius: 20px 20px 0px 0px;
					-moz-border-radius: 20px 20px 0px 0px;
					border-radius: 20px 20px 0px 0px;
				}

				> div.banniereNouveau{
					@include banniereNouveau;
				}

				> div.infoRestaurant{
					display: flex;
					flex-direction: row;
					align-items: center;

					> div:first-child{
						flex: 6;

						*{
							margin-left: 20px;
						}

						> p:last-child{
							margin-top: -15px;
						}
					}

					> div:last-child{
						flex: 1;
					}
				}
			}
		}
	}
}

// FIN VERSION MOBILE /////////

// VERSION TABLETTE ///////////
@media screen and (min-width: 768px) and (max-width: 1199px){

	button.btn-primaire{
		width: auto !important;
	}

	div#conteneurRestaurants{

		> h2{
			display: inline;
		}

		> div#listeRestaurants{
			
			display: flex;
			flex-direction: row;
			align-content: space-between;
			flex-wrap: wrap;
			margin: 0px 15px;

			> a{
				display: block;
				width: 48%;
				height: 45%;
				margin-top: 10px;
			}
		}
	}

	div#listeActions{

		> div{

			width: 50%;

			&:nth-child(2){
				align-self: center;
			}

			&:last-child{
				align-self: flex-end;
			}

			> button{
				display: block;
				margin-left: 30px;
				width: 50%;
			} 
		}		
	}
}

// FIN VERSION TABLETTE ///////

// DEBUT VERSION DESKTOP //////
@media screen and (min-width: 1200px){

	button.btn-primaire{
		width: auto !important;
	}

	div#conteneurFonctionnement{

		> div#listeActions{
			flex-direction: row;
			justify-content: space-between;

			> div{
				width: 30%;
			}
		}
	}

	div#conteneurRestaurants{

		> div#listeRestaurants{
			flex-direction: row;

			> *{
				width: 23%;
			}
		}
	}
}

// FIN VERSION DESKTOP ////////