@import "Partials/varMix";
@import "Partials/entete";
@import "Partials/piedDePage";

////////////////////////////////

@keyframes slide{
	from{
		margin-top: 40px;
		opacity: 0;
	}

	to{

	}
}

@keyframes shakeBtn{

	33%{
		transform: rotate(3deg) scale(1.2);
		
	}

	66%{
		transform: rotate(-6deg) scale(1.2);
	}

	100%{
		transform: scale(1);
	}
}

////////////////////////////

@keyframes fadeIcon{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

////////////////////////////

////////////////////////////////
p, a, span{
	font-family: $police-texte;
}

h1, h2, h3{
	font-family: $police-logo-titre;
}

body{
	margin: 0px;
	padding: 0px;
}

button:not(.btn-primary){
	@include btnChoix;

	> div > div:first-child{
		text-align: left;
	}
}

i.fa-heart{
	@include iconHeart;
}
///////////////////////////////

//ENTETE
header{

	> div:first-child{
		display: inline-block;
		float: left;
		margin: 25px 50px 25px 25px;

		> a{
			color: black;
		}
	}

	> h1{
		text-align: left;
		padding: 0px;
	}
}

//PAGE DU MENU DE RESTAURANT

hr{
	width: 10%;
	border: none;
	background-color: $couleur-tertiaire;
	height: 3px;
	margin: 0px;
}

main{

	img{
		object-fit: cover;
		width: 100%;
		height: 280px;
	}

	> div{
		padding: 25px 0px;
	}

	> div:first-child{
		padding-top: 0px;
	}
}

div#conteneurMenu{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	-webkit-border-radius: 30px 30px 0px 0px;
	-moz-border-radius: 30px 30px 0px 0px;
	border-radius: 30px 30px 0px 0px;
	margin-top: -60px;
	position: relative;
	z-index: 5;

	> *{
		margin: 0px 25px;
	}

	> div:first-child{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		> i{
			margin-top: 20px;
		}
	}
}

button:not(.btn-primaire){
	padding: 0px;
}

div.detailChoix{
	@include detailChoix;

	> *{
		margin: 0px 0px 0px 15px;
	}

	&:hover > div.choixAccepte{
		transform: scaleX(1);
		flex: 2;

		> i{
			display: inline-block;
		}
	}

	span.prix{
		font-weight: bolder;
	}

	> div:first-child{
		display: flex;
		flex-direction: column;
		padding: 10px 0px;
		flex: 7;

		> div:first-child{
			font-weight: bolder;
		}

		> div:last-child{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			//margin: 0px 20px 0px 0px;
		}

	}
}

div.choixAccepte{
	background-color: $couleur-tertiaire;
	border-radius: 0px 20px 20px 0px;
	padding: 5px 5px 5px 0px;
	width: 0px;
	transform: scaleX(0);

	-webkit-transition-property: flex, transform;
	-moz-transition-property: flex, transform;
	transition-property: flex, transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;

	display: flex;

	> i{
		font-size: 24px;
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		color: white;
		margin-top: -12px;
		margin-left: -12px;
	}
}

button.btn-primaire{
	@include btnPrincipal;
	

	&:hover{
		opacity: 0.7;
	}
}

// DEBUT VERSION TABLETTE
@media screen and (min-width: 768px) and (max-width: 1199px){

	h2{
		font-size: 1.7em;
	}

	h3{
		font-size: 1.5em;
	}

	span{
		font-size: 1.1em;
	}

	button.btn-primaire{
		width: auto !important;
	}

	header{

		> h1{
			text-align: center;
			margin-right: 100px;
		}
	}
}
// FIN VERSION TABLETTE

// DEBUT VERSION DESKTOP
@media screen and (min-width: 1200px){

	h2{
		font-size: 1.9em;
	}

	h3{
		font-size: 1.7em;
	}

	span{
		font-size: 1.3em;
	}

	header{

		> h1{
			text-align: center;
			margin-right: 100px;
		}
	}

	div#listeMenu{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		> *{
			width: 30%;
		}	
	}

	button.btn-primaire{
		width: auto;
	}
}
// FIN VERSION DESKTOP