@import "Partials/varMix";
@import "Partials/entete";
@import "Partials/piedDePage";

////////////////////////////////
p, a, span{
	font-family: $police-texte;
}

h1, h2, h3{
	font-family: $police-logo-titre;
}

body{
	margin: 0px;
	padding: 0px;
}

button:not(.btn-primary){
	@include btnChoix;

	> div > div:first-child{
		text-align: left;
	}
}
///////////////////////////////

//ENTETE
header{
	text-align: left;

	> h1{
		margin-left: 25px;
	}

	> div{
		display: inline-block;
		margin: 0px 25px;
	
		> a{
			color: black;
		}
	}
}

//PAGE DU MENU DE RESTAURANT

hr{
	width: 10%;
	border: none;
	background-color: $couleur-tertiaire;
	height: 3px;
	margin: 0px;
}

main{

	img{
		object-fit: cover;
		width: 100%;
		height: 280px;
	}

	> div{
		padding: 25px 0px;
	}

	> div:first-child{
		padding-top: 0px;
	}
}

div#conteneurMenu{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	-webkit-border-radius: 30px 30px 0px 0px;
	-moz-border-radius: 30px 30px 0px 0px;
	border-radius: 30px 30px 0px 0px;
	margin-top: -60px;
	position: relative;
	z-index: 5;

	> *{
		margin: 0px 25px;
	}

	> div:first-child{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		> i{
			margin-top: 20px;
		}
	}
}

button:not(.btn-primaire){
	padding: 0px;
}

div.detailChoix{
	@include detailChoix;

	> *{
		margin: 0px 0px 0px 15px;
	}

	span.prix{
		font-weight: bolder;
	}

	> div:first-child{
		display: flex;
		flex-direction: column;
		flex: 5;
		padding: 10px 0px;

		> div:first-child{
			font-weight: bolder;
		}

		> div:last-child{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0px 20px 0px 0px;
		}
	}

	> div.choixAccepte{
		flex: 1;
		background-color: $couleur-tertiaire;
		border-radius: 0px 20px 20px 0px;
		padding: 18px 0px 0px 0px;
		margin-left: 0px;

		>i{
			color: white;
		}
	}

	> div.choix{
		display: none;
	}
} 

button.btn-primaire{
	@include btnPrincipal;
}

@media screen and (min-width: 768px) and (max-width: 1199px){
	header{

	

		> div{
		
		}

		> h1{
			
			
		}
	}
}

@media screen and (min-width: 1200px){

}