// ENTETE
	header{
		width: 100%;
		text-align: center;
		-webkit-box-shadow: 0px 1px 5px 0px black;
		-moz-box-shadow: 0px 1px 5px 0px black;
		box-shadow: 0px 1px 5px 0px black;
		padding: 1px 0px;

		> div:first-child{
			display: none;
		}
	}
